<div class="container">
    <div class="row">
        <div class="col" id="video">
            <div class="video">
                <iframe width="760" height="515" src="https://www.youtube.com/embed/dKXWB8E198Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col" id="texto">
            <div class="texto">
                <h1>
                    👽<span>L</span>eonardo <span>A</span>lves
                </h1>
                <h5>
                    Fullstack <span>Developer</span>
                </h5>
                <p>Seja vem vindo(a)!<br>
                    Permita que eu me apresente à vc, meu nome <span>Leonardo Alves</span>, mas pode me chamar de
                    Ebony... Sou desenvolvedor e amo tecnologia, mas isso não é tudo, desenhar e jogar basquete 
                    são meus principais hobbies.
                </p>

                <p>
                    Aqui você vai conhecer um pouco sobre mim, profissional e pessoalmente, além claro, de poder entrar 
                    em contato comigo. O links para aulas particulares,graffits, designer gráfico e mais, você encontra
                    navegando pelas páginas correspondentes...
                </p>
            </div>
        </div>
    </div>