.texto {
    font-size: 1.2rem;
    padding: 2px;
    color: #fff;
    
}

.texto h1 {
    padding-top: 5px;
    font-weight: 700;
}

.texto span {
    color: #0ff;
}

.texto p {
    margin-top: 30px;
}
/*
#video {
    background: red;
}
*/
#texto{
    background: rgba(0,0,0,0.1);  
    border-radius: 2%;
    width: 800px;
}

#texto:hover {
    background: rgba(0,0,0,2);
}